.container{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

}

.container img{
    width: 40%;
}

.text{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}

.text h2{
    font-size: 45px;
}

.text h6{
    font-size: 20px;
    margin-bottom: 0.5%;
}

.text h4{
    font-family: 'Charis SIL', serif;
    font-size: 20px;
    color: red;
    margin-top: 1%;
}

.text form input{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40px;
}

#input{
    width: 35%;
    height: 30px;
    margin-bottom: 2%;
    background-color: #FEDCD0;
    cursor: pointer;
    font-family: 'Charis SIL', serif;
}

#input:hover{
    background-color: white;
}